body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#hr-0 {
    /* milik daftar.html */
    position: absolute;
    top: 238.81px;
    right: 0;
}

#animasi {
    position: absolute;
    top: 146px;
    left: 91px;
}

/* Navbar */
.navbar {
    margin-top: 20px;
    margin-left: 80px;
}

.nav-item {
    font-size: 18px;
    color: #7d7d7d;
    margin-left: 44px;
}

.nav-login {
    width: 86px;
    height: 30px;
    border: 1px solid #7d7d7d;
    border-radius: 15px;
}

.btn-outline-primary {
    border-color: #7d7d7d;
    color: #7d7d7d;
    border-radius: 26px;
    height: 30px;
    line-height: 0;
}

/* form */
.daftar {
    height: 497.62px;
    margin-top: 66px;
    padding: 23px 67px;
    background: white;
    box-shadow: -10px 40px 50px rgba(0, 0, 0, 0.3);
    margin-bottom: 44px;
}

.form-control {
    height: 42px;
    font-size: 18px;
    font-weight: lighter;
    border: 1px solid #7d7d7d;
    border-radius: 26px;
}

.btn-primary {
    width: 100%;
    height: 42px;
    background: linear-gradient(to right, #A66BF3, #D16EF7);
    border: none;
    border-radius: 26px;
}

.btn-primary:hover {
    background: linear-gradient(to right, #A66BF3, #D16EF7);
    opacity: 0.8;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.pl-20 {
    padding-left: 20px;
}

.card-link {
    font-size: 15px;
}

.text-purple {
    color: #A86BF4;
}

.text-gray {
    color: #7d7d7d;
}

.rad-15 {
    border-radius: 15px;
}

.bold {
    font-weight: bold;
    color: #7d7d7d;
}

.font-12 {
    font-size: 12px;
    color: #7d7d7d;
}

.mt-20 {
    margin-top: -20px;
}


.footer-back>img {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .footer-back>img {
        height: 100px;
    }

    .daftar {
        height: 497.62px;
        margin-top: 66px;
        width: 90%;
        right: 20px;
        padding: 23px 67px;
        background: white;
        box-shadow: -10px 40px 50px rgba(0, 0, 0, 0.3);
    }
}